name: CI - Build & Push Docker Images

on:
  push:
    branches: ["main"]

jobs:
  build_push:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repo
      uses: actions/checkout@v3

    - name: Login to DockerHub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build & Push to DockerHub
      run: |
        docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/expense-tracker:latest .
        docker push ${{ secrets.DOCKERHUB_USERNAME }}/expense-tracker:latest

    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ secrets.AWS_REGION }}

    - name: Login to Amazon ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v2

    - name: Build & Push to AWS ECR
      run: |
        ECR_REPO=${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com/expense-tracker
        docker build -t $ECR_REPO:latest .
        docker push $ECR_REPO:latest
